# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


# Hide/show all desktop icons (useful when presenting)
alias hideDesktop='defaults write com.apple.finder CreateDesktop false && killall Finder'
alias showDesktop='defaults write com.apple.finder CreateDesktop true && killall Finder'

# Hide/show Hidden Files
alias showFiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hideFiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Custom
alias e="((sleep 1; killall cmatrix; sleep 1; osascript -e 'quit app "Terminal"') &); cmatrix; exit"
alias c='clear'
alias t='tree -F -L 1 -a'
alias prettier='npm install --save-dev --save-exact prettier'
alias g='gem query --local'
alias reload='source ~/.zshrc'
alias s='du -hsc $(ls -A)'
alias ds='find "${@:-.}" -type f -name .DS_Store -delete'
alias music='/Users/haythem/Projects/Dotfiles/.tmux/music.sh'
alias sl='tmutil listlocalsnapshots /'
alias sd='tmutil deletelocalsnapshots '
alias pass='sudo xattr -rd com.apple.quarantine '
alias chrome='open -a "Google Chrome"'
alias zero='trash -esy'

# Update 
alias nodeup='nvm install node --latest-npm --reinstall-packages-from=node'
alias npmup='npm update -g'
alias cl='sudo gem update colorls'

#ColorLs
alias l='colorls --group-directories-first --almost-all'
alias ll='colorls --group-directories-first --almost-all --gs --long' # detailed list view

#tmux
alias tl='tmux list-sessions'
alias te='tmux kill-server'
alias tes='tmux kill-session -t'
alias tn='tmux new -s '
alias ta='tmux a -t '

