function update() {
  WHITE="$(tput setaf 7)"
  CYAN="$(tput setaf 6)"
  YELLOW="$(tput setaf 3)"
  GREEN="$(tput setaf 2)"
  
  echo $CYAN'Update Started '$WHITE'at'$YELLOW $(date "+%H:%M:%S") $WHITE
  echo $CYAN'🔥 Updating Homebrew... '$WHITE
    brew update
    brew upgrade
    brew cask upgrade
    brew cleanup
    brew doctor
    echo $CYAN'🔥 Updating NVM... '$WHITE
    nvmup
    echo $CYAN'🔥 Updating Node... '$WHITE
    nodeup
    echo $CYAN'🔥 Updating NPM... '$WHITE
    npmup
    echo
    echo $GREEN'✅ Evreything is Up to Date'$WHITE
    nyan
 
}

function nvmup() {
  cd ~/.nvm
  git fetch --tags origin
  git checkout `git describe --abbrev=0 --tags --match "v[0-9]*" $(git rev-list --tags --max-count=1)`
  source nvm.sh
  cd
}


function nyan() {
  RED="$(tput setaf 1)"
  GREEN="$(tput setaf 2)"
  YELLOW="$(tput setaf 3)"
  CYAN="$(tput setaf 6)"
  WHITE="$(tput setaf 7)"
  BOLD="$(tput bold)"
  NOCOLOR="$(tput sgr0)"

  echo
  echo -en $RED'-_-_-_-_-_-_-_'
  echo -e $NOCOLOR$BOLD$WHITE',------,'$NOCOLOR
  echo -en $YELLOW$WHIT'_-_-_-_-_-_-_-'
  echo -e $NOCOLOR$BOLD$WHITE'|   /\_/\\'$NOCOLOR
  echo -en $GREEN'-_-_-_-_-_-_-'
  echo -e $NOCOLOR$BOLD$WHITE'~|__( ^ .^)'$NOCOLOR
  echo -en $CYAN'-_-_-_-_-_-_-'
  echo -e $NOCOLOR$BOLD$WHITE'""  ""'$NOCOLOR
  echo

 
}



function acp() {
  WHITE="$(tput setaf 7)"
  CYAN="$(tput setaf 6)"
  YELLOW="$(tput setaf 3)"
  GREEN="$(tput setaf 2)"
  echo $GREEN'Snapshots the file in preparation for versioning..............................😎'$WHITE
  git add .
  echo $GREEN'Recording file snapshots permanently in version history.......................✍🏻'$WHITE
  git commit -m "$1"
  echo $GREEN'Uploading all local branch commits to GitHub..................................⬆'$WHITE
  git push
  echo $CYAN'Evreything is Uploaded........................................................✌🏻'$WHITE
}

function mkd() {
	mkdir -p "$@" && cd "$_";
}